@charset "utf-8";
/* CSS Document */
/*重置浏览器*/
* {
  margin: 0;
  padding: 0;
}

/*三张背景图设置*/
.background1 {
  background: url(../master/img/1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.background2 {
  background: url(../master/img/2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.background3 {
  background: url(../master/img/3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
 
body{background:#FEF8EF}
/*导航设置*/
.list {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  left: 1410px;
  top: 350px;
  position: fixed;
}

.list li {
  width: 10px;
  height: 50px;
  float: left;
  margin-right: 124px;
}

/*引语设置*/
.yinyu {padding-top: 60px;
	padding-left:20%;
  margin-bottom: 60px;
}
td i {
  font-size: 50px;
  font-family: 隶书;
}

/*开头设置*/
.kaitou {
  line-height: 1.6;
  font-family: 隶书;
  font-size: 18px;
  padding-left:35%;
  padding-right: 20%;
  color:#2F3A4C
}


/*全局文字设置*/
.wenzi {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 28px;
  font-family:楷体;
  padding-left: 15%;
  padding-right: 15%;
  color:#3A3B3F;
}

/*页尾设置*/
#bottom-footer {
  position: absolute;
  clear: both;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  bottom: 0;
}
#bg1 {
  color: #afafaf;
  background-color: #fff8c0;
  padding: 30px;
  line-height: 1.5;
  font-family: '隶书';
  font-size: 10pt;
}
#bg2 {
  text-align: center;
  color: #ffffff;
  background-color: #262f56;
  padding: 8px;
  font-family: '楷体';
  font-size: 10pt;
}

/*第一部分图表盒子设置*/
.pannel1 {
  height: 400px;
  width: 850px;
  padding-left: 20%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 100px;
}

/*第二部分图表盒子设置*/
.pannel21 {
  height: 300px;
  width: 800px;
  padding-left: 23%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pannel22 {
  height: 300px;
  width: 800px;
  padding-left: 23%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pannel23 {
  height: 300px;
  width: 800px;
  padding-left: 25%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 0px;
}

.chart2 {
  height: 200px;
  width: 100%;
  padding-left: 8%;
  padding-right: 15%;
  padding-top: 0px;
  padding-bottom: 100px;
  display: flex;
}

.pannel241 {
  height: 170px;
  width: 30%;
  padding-top:100px;
}
.pannel242 {
  height: 170px;
  width: 30%;
  padding-top:100px;
}
.pannel243 {
  height: 170px;
  width: 30%;
  padding-top:100px;
}

.pannel25 {
  height: 300px;
  width: 800px;
  padding-left: 20%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pannel26 {
  height: 500px;
  width: 800px;
  padding-left: 20%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pannel27 {
  height: 300px;
  width: 800px;
  padding-left: 20%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 0px;
}

.chart3 {
  height: 300px;
  width: 100%;
  padding-left: 10%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 0px;
  display: flex;
}

.pannel281 {
  height: 300px;
  width: 40%;
  padding: 0;
}
.pannel282 {
  height: 300px;
  width: 40%;
  padding-left:120px;
}

.chart4 {
  height: 350px;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 0px;
  display: flex;
}

.pannel291 {
  height: 350px;
  width: 30%;
  padding: 0;
}
.pannel292 {
  height: 350px;
  width: 30%;
  padding-left:120px;
}

/*第三部分图表盒子设置*/
.pannel31 {
  height: 350px;
  width: 800px;
  padding-left:  22%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pannel32 {
  height: 350px;
  width: 800px;
  padding-left:22%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pannel33 {
  height: 350px;
  width: 800px;
  padding-left: 22%;
  padding-right: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.chart {
  height: 400px;
  width: 100%;
  padding-left: 15%;
  padding-right: 13%;
  padding-top: 20px;
  padding-bottom: 0px;
  display: flex;
}

.pannel341 {
  height: 200px;
  width: 30%;
  padding: 0;
	padding-bottom: 30px;
}
.pannel342 {
  height: 200px;
  width: 30%;
  padding-left:160px;
	padding-bottom: 30px;
}
.pannel343 {
  height: 300px;
  width: 35%;
  padding: 0;
}
.pannel344 {
  height: 300px;
  width: 35%;
  padding-left:120px;
}
